<!DOCTYPE html>

<html>
<head>

  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="./../js/myScripts.js"></script>
    

 <style>


body{
   
     background: #191c17;
    
    
    width:1280px;
    font-family: Charcoal, Charcoal, sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.playerDiv {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
     z-index:9990;
     display: block !important;
     color:black;
   
}
  
#header {
 
    position:fixed;
    width:1280px;
    height:720px;
    top:0px;
    left: 0px;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    font-family: Charcoal, Charcoal, sans-serif;
    font-size: 26px;
    background:rgba(1, 0, 0, 0.7);
    color: white;
    z-index:19999;
     visibility: hidden;
  
  
}
#header3 {

    position:fixed;
    width:1260px;
    height:150px;
    top:80px;
    left: 10px;
    border-radius: 0px 0px 0px 25px;
    text-align: center;
    font-family: Charcoal, Charcoal, sans-serif;
    font-size: 26px;
    z-index:10000002;
  
  
}
#header2 {
 
    position:fixed;
    width:40px;
    height:40px;
    top:10px;
    left: 1230px;
    text-align: center;
    font-family: Charcoal, Charcoal, sans-serif;
    font-size: 26px;
    opacity: 0.5;
    background-image: url(../images/menu.jpg);
    z-index:100002;
    cursor: pointer;
    visibility: hidden;
  
}
 #menuBut {
    position:fixed;
    top:515px;
    left:670px;
    width:440px;
    background: DarkSlateGray;
    color: white;
}
#menuBut:hover {
 color: white;
 background: #bd4d82;
}
#backBut {
    position:fixed;
    top:515px;
    left:150px;
    width:440px;
    background: DarkSlateGray;
    color: white;
}
#backBut:hover {
 color: white;
 background: #bd4d82;
}
#footer{
    position:fixed;
    width:1030px;
    height: 60px;
    top:0px;
    left:0px;
    z-index:10000;
}



p{
  font-size:29px;
  line-height: 1.1;
  
    
}
.btn {
    
             background:#0b5b5b;
             border: 3px solid yellowgreen;
   
             color: white;
             border-radius: 12px;
             padding: 4px 20px;
             text-align: center;
             text-decoration: none;
             display: inline-block;
             font-size: 35px;
             cursor:pointer;
             margin:5px;
             z-index:1000000000;
}
.btn:hover {
               background:yellowgreen;
}
#lt1{
     position:fixed;
     top:85px;
     left:60px;
}
#lt2{
     position:fixed;
     top:135px;
      left:67px;
}
#lt3{
     position:fixed;
     top:185px;
      left:50px;
}

#l2{
    position:fixed;
    top:619px;
    left:80px;
    color:#d0c5c5;
 
    padding:5px 10px;

}
#l3{
    position:fixed;
    top:550px;
    left:280px;
    font-size: 40px;
    color:lime;
    background:transparent;
    padding:5px 10px;

}
#l4{
    position:fixed;
    top:220px;
    left:240px;
    font-size: 40px;
    color:lime;
    background:transparent;
    padding:5px 10px;

}
#title{
        position:fixed;
        top:0px;
        left:500px;
        color:yellow;
        font-size:40px;
   
        
}
#info{
        display:block;
        border-radius:10px;
        border:1px solid #ff4900;
        padding:2px 10px;
        color:white;
        background:#353736;
        font-size:28px;
        position:fixed;
        top:245px;
        left:36px;
        width:1180px;
        height: 43px;
}

</style> 
</head>



   <!-- ***********    BODY START   ******************  -->
 <body> 
     
<div class="playerDiv">
        <div id='player'></div>
    </div>
 

<div id="header2" ></div>
<div id="header" >
  
<p id="title" class="txt">                             INSTRUCTIONS </p>

<p id="lt1" style="top:85px;left:60px;color:#52d258;"> ( check the  'Youtube settings button'  for better resolutions, mouse hover right/lower corner ) <p>
  <p id="lt1" style="top:145px;left:77px;color:#e6ee2f;"> ( on PlayList Mode sometimes you will need to double-click twice to start the next video ) <p>   
  <p id="lt1" style="top:205px;left:100px;color:#52d258;"> ( use the 'Refresh button' to get the latest videos, returned videos are limited to 200 ) <p>
  <p id="lt1" style="top:260px;left:122px;color:#ea6c3e;"> ( reasons if video dont start, was been removed, have age or country restriction ) <p>
  <p id="lt1" style="top:320px;left:50px;color:#e6ee2f;"> ( a viewer arrive in the middle of a video, to get him sync with you just pause/play the video ) <p>
  <p id="lt1" style="top:370px;left:75px;color:#e6ee2f;"> ( new viewer arrive and pause/play the video before you, then you will be sync with him ) <p>
  <p id="lt1" style="top:430px;left:240px;"> ( check the 'Setup/Help' on Main Menu for more instructions ) <p>
  
<div id="info">info teste</div>
  
<p id="l2" style="top:621px;left:80px;color:OrangeRed;" class="txt"> ( this Tv is based on Internet Video Links, they can change or stop to work at any time ) <p>

<p  id="l3" class="txt"> ( click the screen to hide the instructions  ) <p>    
   
 
  
  <img style="width: 90%; height: 90%; margin-top: 2%; margin-left: 5%"/>


<button   id='menuBut' onclick="location.href = './../?'+return_url;" class="btn">Back to Main Menu</button>    
<button   id='backBut' onclick="goBack()" class="btn">Back to Youtube Menu</button>
</div>


<div id="footer" >
<p> <p>       
</div>

    
    
  
<script src="./../socket.io/socket.io.js"></script>


   <!-- ***********    SCRIPT START   ******************  --> 
    <script>



var socket = io.connect();
var rom;
var time;



  var count=0;
  function createroom() {

      room=roomName;

    
    
      socket.emit('createroom', room);

     count++;
      document.getElementById('info').style.visibility= "hidden";


      $('#info').text(room +" "+ count) ;
                       
  }
  document.getElementById('info').style.visibility= "hidden";
//// SESSION VARIABLES RETRIVE /////////////////////////////////////////////////
         
var pic = localStorage.getItem("pic");
         document.body.style.backgroundImage = "url("+pic+")";
        
         var url1 = localStorage.getItem("url1");
         var url2 = localStorage.getItem("url2");
         var return_url=url1+"&"+url2 
         rom=1;

        
         

         $( document ).ready(function() {
    console.log( "ready!" );

        // room= url2;
         if (roomName!="noRoom") createroom(); 

});
/////////////////////////////////////////////////////////////////////////////////
// FUNCTION TO GET THE ATRIBUTES PASSED ON THE URL

var video_id = ''; // 26 TINES
      var list_id = '';
      var start_time=0;
      var imageIndex;

var queryString = decodeURIComponent(window.location.search); //parsing
      queryString = queryString.substring(1);
      var queries = queryString.split("&");

      

       video_id=(queries[0]); // GET THE VIDEO ID FROM THE URL
       console.log("VideoId no player: "+video_id);
       console.log("ListId no player: "+(queries[1]));
  
      var scroll=(queries[1]);
      var roomName=(queries[2]);
     
      var id_length=video_id.length;
      console.log("Id lenght: " + id_length);
      console.log("Id lenght: " + id_length);
       list_id=video_id;
      
       check_browser();
      // clear_url();
 

/////////////////////////////////////////////



var el1 = document.getElementById('footer');
el1.onmouseover = function() {

            document.getElementById('header').style.visibility= "visible";
}

var el2 = document.getElementById('header2');
el2.onclick = function() {

            document.getElementById('header').style.visibility= "visible";
}

var el = document.getElementById('header');
el.onclick = function() {

            document.getElementById('header').style.visibility= "hidden";
}

  

/////////////////////////////////////////////////////////////////////////////
// FUNCION TO LOAD THE YOUTUBE API
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

/////////////////////////////////////////////////////////////////////////////
// FUNCION TO GET BACK ON CLICK
function goBack() {

     window.open("./yt?player&"+scroll,"_self");
   
  }
 
////////////////////////////////////////////////////////////////////////////////////

if(id_length >15)
{
playerVars={
          modestbranding : 1,
          color:'red',
          disablekb : 1,
          controls: 1,
          loop: 1,
          showinfo: 0,
          wmode: 'opaque' ,
          iv_load_policy : '3',
          fs:0,
          rel:0,
          autoplay:1,
          list: list_id,
          listType: 'playlist',
          index: 0,
          startSeconds: 0,
          suggestedQuality: 'hd1080'
        
        }
   }
   else
   {
      playerVars={
          modestbranding : 1,
          color:'red',
          disablekb : 1,
          controls: 1,
          showinfo: 0,
          wmode: 'opaque' ,
          iv_load_policy : '3',
          fs:0,
          rel:0,
          autoplay:1,
          loop: 1,
        //  playlist: video_id,
          startSeconds: 0,
          suggestedQuality: 'hd1080'
          
        
        }
   }


   // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
 
          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

 // 3. This function creates an <iframe> (and YouTube player)
 //    after the API code downloads.
 var player;
 var time;
 function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
            height: '720',
            width: '1280',
            videoId: video_id,
            playerVars,
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });


       

} // ENDS YOUTUBE FRAME API SETUP
   
          //  setInterval( sync, 1000);


 // 4. The API will call this function when the video player is ready.
 function onPlayerReady(event) {

             event.target.pauseVideo();
             socket.emit("getLatestTime")
             event.target.playVideo();
        
 }


 socket.on("getLatestTime", () => {
        const currentTime = player.getCurrentTime()
        if (currentTime > 0) {
        socket.emit("videoPlaying", currentTime)

        console.log('VIDEO PLAYING')
    }
    console.log('VIDEO NOT PLAYING')
})


 // 5. The API calls this function when the player's state changes.
 //    The function indicates that when playing a video (state=1)
 var done = false;
 var pState=[];
 var m=0;
 var currenttime

 function onPlayerStateChange(event) {  // 


  if (event.data === YT.PlayerState.ENDED) {
            player.playVideo(); 
        }
            
            currenttime = player.getCurrentTime(); // GET THE CURRENT TIME
     

            console.log("STATUS " + event.data);
            console.log("Room Name"+roomName);
            console.log("Vid: " + video_id);
            console.log("Time: " + currenttime);
            console.log("LocalTime: " + localStorage.getItem("time"));
               
        
                 if(event.data===0 && rom===1) { 
                    
                    io.in(room).emit('timeReset', room);

                 }
  
                 if(event.data===1 && rom===1) { 
                              
                    currenttime = player.getCurrentTime();
                    socket.emit('toPlay', currenttime, room);
              
                  }
               
                if(event.data===2 && rom===1) { 

                    currenttime = player.getCurrentTime();
                    socket.emit('toPause', currenttime, room);

                  }

                 
 } // end player changes

 
  

 function sync()
 {
                 if (syncdone==0)
                 {
              currenttime = player.getCurrentTime(); // GET THE CURRENT TIME
              socket.emit('ready', currenttime, room);
              player.playVideo();
                 syncdone=1;
                 }
 }

 
      socket.on('Play', function(currenttime){

           if(m===0)
            {
              player.seekTo(currenttime, true);
              player.playVideo();
              m=1;        
            }   
      });
         
      socket.on('Pause', function(currenttime){
             //player.seekTo(currenttime, true);  
             player.pauseVideo()
             m=0;

           });
           
           socket.on('screen-data', function(data){

            data = JSON.parse(data);
        console.log("receiemit");
        var room = data.room;
        var imgStr = data.image;
        console.log(room);
        socket.broadcast.to(room).emit('screen-data', imgStr);

});

 

    </script>
  </body>
</html>