<!DOCTYPE html>
<html>
<head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./js/myScripts.js"></script>
</head>

<style>

body{
         height:100%;
         width:1270px;
         color: #fff;
       background: black;
         font: 100 1.5em 'Fira Sans', sans-serif;
         justify-content: center;
         align-content: center;
         align-items: center;
         text-align: center;
         margin:0px
}




.btn {
          
          display:inline-block;
         // width:600px;
          text-decoration:none;
          color: transparent;
          background: none;
          border: 4px solid;
          border-radius:12px;
          border-color:transparent;
          font: inherit;
          line-height: 1;
          margin: 10px;
          font: 400 1.35em 'Fira Sans', sans-serif;
}

.btn:hover {
          border-color: var(--hover);
          color: yellow;
          background: #5ab565;
}

#back{
        position: fixed;
        top: 640px;
        left:315px;
        width:600px;
        padding: 5px;
        font: 400 1.5em 'Fira Sans', sans-serif;
        cursor:pointer;
       
}
#back:hover{
          background: rgb(235, 114, 114);
          color: yellow;
}  





#title{
       display:inline-block;
       width:600px;
       color: transparent;
       border: 4px solid;
       border-radius:12px;
       border-color:transparent;
       font: inherit;
       line-height: 1;
       margin: 30px;
       padding: 5px;
       font: 400 1.55em 'Fira Sans', sans-serif;
       
}

.conteiner {
               // display: block;
                position:fixed;
                top:120px;
                left:150px;
                background:transparent;
                width:1000px;
                height:480px;
              //  overflow:scroll;
              //  overflow-x:hidden;
  
}
.conteiner a {
                 
                  font-size: 35px;
                  border: 3px solid transparent;
                  color: transparent;
                  text-decoration: none;
                  margin: 5px;
                  padding: 10px 35px;
}


#tag{
        //  display:none;  
          position:fixed;
          height:50px;
          width:400px;
          top:570px;
          left:325px;
          font-size:28px;
          border: 3px solid white;
          border-radius: 12px;
          color:white;
          background:transparent;
          z-index:1000000;

}
#submit{
       //   display:none;
          position:fixed;
          top:566px;
          left:735px;
          font-size:33px;
          background:#5ab565;
}

.subbut{
             color: black;
             border-radius: 12px;
             border: 2px solid white;
             padding: 6px 20px;
             text-align: center;
             text-decoration: none;
             display: inline-block;
             font-size: 20px;
             cursor:pointer;
             margin:5px;
             z-index:1000000000;
                 background:#2f9e28;
}
.subbut:hover{
         background:yellowgreen;
         color:white;
         border-color:black;
}

#info {
         position:fixed;
          top:520px;
          left:120px;

}
img{
    width:0px;
    height:0px;
}
</style>

</head>



<body >


<div>
   <p id='title' >XXX Browsers Menu</p> 
</div>



<div class="conteiner">
 
 
 <a id="XBrows2" onClick="reply_click();" href = 'https://www.xvideos.com/tags/english' class="btn first">XVideos</a> 
 <a id="XBrows3" onClick="reply_click();" href = 'https://pt.pornhub.com/' class="btn" >PornoHub</a>
 <a id="XBrows4" onClick="reply_click();" href = 'https://www.xnxx.com/' class="btn" >XnXX</a>
 <a id="XBrows1" onClick="reply_click();" href = 'https://www.voyeurshd.com/' class="btn" >Voyeur HD</a>
 <a id="XBrows5" onClick="reply_click();" href = 'https://www.fullxxxvideos.net/' class="btn" >HD Red Tube</a>
 <a id="XBrows6" onClick="reply_click();" href = 'https://voyeurhit.com/top-rated/1/?sort=top-rated&date=day&type=all&duration=all' class="btn" >VoyeurHit</a>
 <a id="XBrows7" onClick="reply_click();" href = 'https://www.youporn.com/' class="btn" >YouPorno</a>
 <a id="XBrows10" onClick="reply_click();" href = 'https://pt.cam4.com/' class="btn" >Cam4</a>
 <a id="XBrows8" onClick="reply_click();" href = 'https://pt.xhamster.com/' class="btn" >Xhamster</a>
 <a id="XBrows17" onClick="reply_click();" href = 'https://hdhole.com/' class="btn" >HD Hole</a>
 <a id="XBrows9" onClick="reply_click();" href = 'https://dreamsexworld.com/' class="btn" >DreamSex</a>
 <a id="XBrows10" onClick="reply_click();" href = '      https://adultfriendfinder.com/' class="btn" >AdultFriend</a>
 
  <a id="XBrows11" onClick="reply_click();" href = 'https://www.babes.xyz/' class="btn" >Babes Xyz</a>
 <a id="XBrows12" onClick="reply_click();" href = 'https://beeg.com/' class="btn" >Beeg</a>
  <a id="XBrows13" onClick="reply_click();" href = 'https://www.livejasmin.com/' class="btn" >Live Jasmin</a>
  <a id="XBrows14" onClick="reply_click();" href = 'https://www.pornpics.com/' class="btn" >Porn Pics</a>
  <a id="XBrows15" onClick="reply_click();" href = 'https://cartoon-sex.tv/' class="btn" >Cartoon  Sex</a>
  <a id="XBrows16" onClick="reply_click();" href = 'https://www.vrsmash.com/' class="btn" >VR Smash</a>
  <a id="XBrows16" onClick="reply_click();" href = 'https://publicfucktube.com/categories/' class="btn" >Public Fuck</a>
  

<!-- INPUT AND SUBMITE FIELD -->
       <input id="tag" type="text" name="query" class="sub " onfocus="this.placeholder=''" placeholder="https://www...or http://www... "  />
       <input id="submit" onclick="submitUrl();"  type="button" value="Submit Url" class="sub subbut" />

<div id="info">after select a external page use the left button to get back to the Tv menu or turn the Tv off and on again</div>

<a id="back" onclick="location.href = './xxx-index?'+return_url;" class="btn" >Back to XXX Menu</a>

</div>



<script>

 /////////////////////////////////////////////////////////////////////////////////
// FUNCTION TO GET THE ATRIBUTES PASSED ON THE URL
var queryString = decodeURIComponent(window.location.search); //parsing 
      queryString = queryString.substring(1); 
      var queries = queryString.split("&"); 
    
 //// SESSION VARIABLES RETRIVE /////////////////////////////////////////////////
 check_browser();
 var pic = localStorage.getItem("pic");
         document.body.style.backgroundImage = "url("+pic+")";
        
         var url1 = localStorage.getItem("url1");
         var url2 = localStorage.getItem("url2");
         var return_url=url1+"&"+url2    
 
 /////////////////////////////////////////////

function submitUrl()
{
            var url=$("#tag").val();

            console.log(url);
       
        window.open (url,"_self");

}
const colorChange = () => {

    const swatch = document.querySelectorAll('.btn');
  
   for (var i=0; i < swatch.length; i++) {
    
    if(mode==="title") document.getElementById('title').style.color = getHSL();
    if(mode==="text") swatch[i].style.color = getHSL();
   if(mode==="border") swatch[i].style.borderColor = getHSL();
    if(mode==="frame") document.getElementById('title').style.borderColor = getHSL();
  
   
                     
  }
   
   
};

/// F4
const getHSL = () => {


    return `hsl(${hue}, ${sat}%, ${light}%)`;
};
 ///////////////////////////////////////////////////////////////
 
 readIndex();

var backPic;
var hue;
var sat;
var light;
var mode;
function readIndex(){
                         fetch('./colors.txt')
                                .then(response => response.text())
                                .then(data => {
                                            //    console.log(JSON.parse(data));
                                                 data=(JSON.parse(data));
                                             
                                     
           
                                     
                                          
                                       backPic=((data.pic));
                                           hue =   data.text_hue;
                                           sat =   data.text_sat;
                                           light = data.text_light;
                           
                                           mode="text";
                                           colorChange();
                                           
                                        backPic=((data.pic));
                                           hue =   data.border_hue;
                                           sat =   data.border_sat;
                                           light = data.border_light;
                                           
                                           mode="border";
                                           colorChange();
                                           
                                       backPic=((data.pic));
                                           hue =   data.title_hue;
                                           sat =   data.title_sat;
                                           light = data.title_light;
                                           mode="title";
                                           colorChange(); 
                                           
                                        backPic=((data.pic));
                                           hue =   data.frame_hue;
                                           sat =   data.frame_sat;
                                           light = data.frame_light;
                                           mode="frame";
                                           colorChange();   
                                          
                                           document.body.style.backgroundImage = "url("+backPic+")";                 
                                           
});
 }         

 
///////////////////////////////////////////////////////////////////////////////
// SEND CLICK COUNTER /////////////////////////////////////////////////////////
function reply_click(){
                        var a=(event.srcElement.id);
                        console.log(a);
                        var title = document.getElementById(a).textContent;
                        console.log (title);
                        send_click(a, title)
}   
 
       
      
 
    
</script>

</body>
</html>
