

.btn:hover,
.btn:focus {
  animation: btn 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  background-color: rgb(49, 121, 49);
  color: yellow;
}

@keyframes btn {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}


.btn {
  --color: #ffa260;
  --hover: #e5ff60;
}


button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}


button {
  
  background: none;
  border: 3px solid;
  font: inherit;
  line-height: 1;
  margin: 10px;
  padding: 0.5em 0.9em;
  font: 400 1.3em 'Fira Sans', sans-serif;
}

h1 {
  font-weight: 500;
}


.but{
  display: block;
  color: blueviolet;
}