<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Xvideos Menu</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
	
<style>
   
    
body{
    background: black;
    font-family: Charcoal, Charcoal, sans-serif;
}

p{
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size:46px;
    left:0%;
    color:white;
    line-height:200%;
}

 #header{
 
                    position: fixed;
                    top: 15px;
                    left: 75px;
                    width: 1134px;
                    height: 649px;
                    background: rgb(0 0 0 / 82%);
                    border: 3px solid white;
                    border-radius: 8px;
                    z-index:10000;
}

.btn, label {
    
     background:#803b61;
     border: 5px solid #dfe3d6;
     color: white;
     border-radius: 12px;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 22px;
     cursor:pointer;
     margin:5px;
     z-index:1000000000;
}
.btn2 {
    
    background:#803b61;
    border: 5px solid #dfe3d6;
    color: white;
    border-radius: 12px;
    padding: 11px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor:pointer;
    margin:5px;
    z-index:1000000000;
}


#countInfo {
                  display:none;
                  position:fixed;
                  top:675px;
                  left:135px;
                  font-size:20px;
                  width:250px;
                  background: rgba(100, 100, 100, 0.5);
                  border: 2px solid white;
                  border-radius: 8px;
                  color:gold;
                  height: 34px;
                  pointer-events: none;
                }
#menu{
          position:fixed;
          top:675px;
          left:10px;
          border: 2px solid white;
          border-radius:8px;
          text-align: center;
          text-decoration: none;
          line-height:30px;
          font-size: 20px;
          width:150px;
          height:30px;
          background: rgba(100, 100, 100, 0.5);
          color:gold;
          cursor:pointer;
}
#menu:hover{
            background:yellowgreen;
            color:black;
}

.buinfo{
          background:#b76a94;
          border: 5px solid #dfe3d6;
}

.subbut{
         background:#5f7d22;
}
.subbut:hover{
         background:yellowgreen;
         color: black;
}

#tag1{
          display:none;  
          position:fixed;
          height:50px;
          top:570px;
          left:170px;
          width:620px;
          font-size:28px;
          padding:0px 15px;
          border: 3px solid DarkSlateGray;
          border-radius: 12px;
          background:#a9d8c0;
          z-index:1000000;

}
#submit1{
          display:none;
          position:fixed;
          top:570px;
          left:830px;
           padding:0px 15px;
           height:50px;
          font-size:30px;
          background:#5ab565;
}

#userBut{
          position:fixed;
          top:250px;
          font-size:40px;
}
#groupBut{
          position:fixed;
          top:360px;
          font-size:40px;
}
#tagBut{
          position:fixed;
          top:360px;
          font-size:40px;
}
#inputBut{
          position:fixed;
          top:470px;
          font-size:40px;
}
#infoBut{
          display:none;
          position:fixed;
          top:220px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
          font-size:35px;
          cursor:context-menu;
           padding: 10px 40px;
}
#infoBut:focus {outline:0;}

#orderBut{
          display:none;
          position:fixed;
          top:355px;
          left:255px;
          font-size:30px;
          width:180px;
          padding:6px ;
          color:white;
}
#orderBut:focus {outline:0;}

#dateBut{
          display:none;
          position:fixed;
          top:355px;
          left:455px;
          font-size:30px;
          width:180px;
           padding:6px ;
           color:white;
}
#dateBut:focus {outline:0;}

#durationBut{   
          display:none;
          position:fixed;
          top:355px;
          left:655px;
          font-size:27px;
          width:180px;
           padding:6px ;
           color:white;
}
#durationBut:focus {outline:0;}

#hdBut{   
          display:none;
          position:fixed;
          top:355px;
          left:855px;
          font-size:30px;
          width:180px;
           padding:6px ;
           color:white;
}
#hdBut:focus {outline:0;}

#orderBut:hover, #dateBut:hover, #durationBut:hover, #hdBut:hover{
         background:yellowgreen;
         border: 5px solid grey;
}
.filter{
            display:none;
            color:yellow;
            font-size:22px;
            margin:0px;
            position:fixed;
            top:325px;
            cursor:pointer;
         
}
#tag{
          display:none;  
          position:fixed;
          height:50px;
          top:508px;
          left:370px;
          font-size:28px;
          border: 3px solid yellowgreen;
          border-radius: 12px;
          z-index:1000000;

}

#submit{
          display:none;
          position:fixed;
          top:500px;
          left:725px;
          font-size:33px;
}
#sugestBut{
          display:none;
          position:fixed;
          top:500px;
          left:890px;
          font-size:33px;
}
.userbu{
          display:none;
          width: 500px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          background:#803b61;
          border: 5px solid #dfe3d6;
}
.userbu:hover{
         background:yellowgreen;
         border: 5px solid grey;
}
.mainbu{
          width: 500px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          background:#803b61;
          border: 5px solid #dfe3d6;
        
}
.mainbu:hover{
         background:yellowgreen;
         border: 5px solid grey;
}

.groupbu{
          display:none;
          width: 500px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          background:grey;
          border: 5px solid yellowgreen;
}
.groupbu:hover{
         background:yellowgreen;
         border: 5px solid grey;
}


.backBut:focus {
              outline:0;
}

/* FILTER DROP MENUS */
#favList1{
            z-index:10000;
            position:fixed;
            top:420px;
            left:270px;
            width:150px;
            height:30px;
            font-size:21px;
            background: DodgerBlue;
}
#favList2{
            z-index:10000;
            position:fixed;
            top:420px;
            left:470px;
            width:150px;
            height:30px;
            font-size:21px;
            background: DodgerBlue;
}

#favList3{
            z-index:10000;
            position:fixed;
            top:420px;
            left:670px;
            width:150px;
            height:30px;
            font-size:21px;
            background: DodgerBlue;
}
#favList4{
            z-index:10000;
            position:fixed;
            top:420px;
            left:870px;
            width:150px;
            height:30px;
            font-size:21px;
            background: DodgerBlue;
}


.bt{
    font-size:20px;
     border: 3px solid yellowgreen;
}
.bt:hover{
           color:black; 
           background:cyan;
}
#buttons{
            display:none;
            position:fixed;
            top:150px;
            left:90px;
            width:1175px;
            height:510px;
            justify-content: center;
            align-content: center;
            align-items: center;
          
            overflow-y: auto;
}
#conteiner{
   
        position:fixed;
        top:55px;
        left:25px;
        width:1210px;
        height:607px;
        background:transparent;
 
        overflow: scroll;
        overflow-x: hidden;
}
#output{
      
        position:relative;
        top:-6px;
        left:50px;
        width:1200px;
        height:510px;
        background:transparent;

}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: yellowgreen; 
}


#title{
                    display: none;
                    position: fixed;
                    top: 12px;
                    left: 82px;
                    width: 1118px;
                    color: gold;
                    font-size: 26px;
                    border: 2px solid white;
                    border-radius: 8px;
                    background: rgba(100, 100, 100, 0.5);
                    text-align: center;
                    pointer-events: none;
}
.backBut{
              font-family: Charcoal, Charcoal, sans-serif;
              position:fixed;
              top:675px;
              left:10px;
              border: 2px solid white;
              border-radius:8px;
              text-align: center;
              text-decoration: none;
              line-height:30px;
              font-size: 20px;
              width:80px;
              height:30px;
              background: rgba(100, 100, 100, 0.5);
              color:gold;
              cursor:pointer;
        }
        .backBut:hover{
                    background:yellowgreen;
                    color:black;
        }
        
        #back:hover{
          background:yellowgreen;
                    color:black;
        }
#group{
          display:none;
          position:fixed;
          width:280px;
          top:500px;
          left:500px;
          font-size:33px;

}
#catBack{
          background:yellowgreen;
          color:black;
           border: 3px solid white;
}
#catBack:hover{
          background:green;
          color:yellow;
}

.loader {
  display: none;
  position: fixed;
  top: 320px;
  left: 600px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>	
</head>

<body>
 

  

 <div id="header" >
        
<!-- MAIN TITLE -->
        <p style="position:fixed;top:-30px;left:400px;color:gold;font-size:50px;"    >XVideos Public Videos</p>
        <p style="position:fixed;top:52px;left:200px;font-size:30px;">the Videos on this slideshow are provide by the public XVideos feed</p>

        <hr style="position:fixed; top:135px;width: 970px;left:165px;color:yellow;"> 
        <hr style="position:fixed; top:136px;width: 970px;left:165px;color:yellow;">   


<!-- ORDER BUTTONS and TXT HEADERS -->
       <div id="orderTxt"    class="filter"  style="left:300px;">ORDER</div>
       <div id="dateTxt"     class="filter"  style="left:515px;">DATE</div>
       <div id="durationTxt" class="filter"  style="left:685px;">DURATION</div>
       <div id="qualityTxt"  class="filter"  style="left:890px;">QUALITY</div>
      
<input data-sub='all' id="orderBut"    onclick="myFunction1();" type="button" class="btn filter" value="relevance" />
<input data-sub='all' id="dateBut"     onclick="myFunction2();" type="button" class="btn filter" value="all" />
<input data-sub='all' id="durationBut" onclick="myFunction3();" type="button" class="btn filter" value="all" />
<input data-sub='all' id="hdBut"       onclick="myFunction4();" type="button" class="btn filter" value="HD720 ++" />
       

<!-- INFO TXT FIELD -->
       <input id="infoBut"   type="button"  class="btn buinfo" value="chose filter options and submit your tags" />
       
<!-- MAIN BUTTONS + INFO BUTTONS -->       
       <input id="userBut"   onclick="callMode='tag';help();"  type="button"  class="btn mainbu" value="Suggested Tag´s" />
    
   <!--    <input id="groupBut"   style="background:rgba(255, 0, 0, 0.2);pointer-events: none;;" type="button"  class="btn mainbu" value="User Channel's" /> -->
    
       <input id="tagBut"    onclick="openSub('tag');"   type="button"  class="btn mainbu" value="Tag's Search" />

       <input id="inputBut"  onclick="openSub('input');"        type="button"  class="btn mainbu" value="Submit Video Url" />

<!-- TOPICS DIV DINAMIC -->  
      <div id="buttons"></div>


<!-- INPUT AND SUBMITE FIELD -->
       <input id="tag" type="text" name="query" class="sub"   />
       <input id="submit" onclick="submit();"  type="button" value="Submit" class="btn sub subbut" />
    
       <input id="tag1" type="text" name="query"  onfocus="this.placeholder=''" class="subbut" placeholder="https://www.youtube.com/watch?v=S2Ip-uUhaoI"  />
       <input id="submit1" onclick="submitUrl();"  type="button" value="Submit Video Url" class="btn  sub subbut" />

        <input id="sugestBut" onclick="help();" type="button"  class="btn  sub subbut" value="Suggested users" />
        <input id="group" onclick="submit2();" type="button"  class="btn  sub subbut" value="Start Search" />

<!-- END HEADER DIV -->
       </div>
<!-- OVERPAGE TXT INFO -->    
       <input id="title" class="backBut"  />
     
<!-- SEARCH AND EXIT BUTTONS -->            
<div id="menu" style="left:562px;"          onclick="menu()"  class="backBut ">HIDE MENU</div> 
<div id="back" style="left:1125px;width:80px;" onclick="back()"        class="backBut">BACK</div> 
<!-- <button  id="butInfo" class="backBut" style="width:340px;left:750px; top:680px;font-size:21px;"> use Menu to search options</button> -->

<input id="countInfo"  type="button"  class="backBut" value="videos not found" />
        
         <div id="loader" class="loader"></div>  
             
<!-- GALLERY DISPLAY DIV DINAMIC -->    
        <div id="conteiner">
       <div id="output" >
           </div>
           
<!-- HTML END -->
           

                
      
<script>

var pageArray=[];
var dataArray=[];
var keyApi ='AIzaSyBheJJ58YA7kplGUG3dRg0BZNTW0oM_epI';  // youtube api Key
var apii;


///////////////////////////////////////////////////////////////////////////////////////
function submitUrl(){
                     if(callMode==="input")
                     {
                      var randomRoom = Math.floor(Math.random() * 10000);
                      var scrollPos = ($("#conteiner").scrollTop() );

                      var url=$("#tag1").val();
                       
                       console.log(url)
                    
                        window.open("./tvxvid?"+ url+"&"+pic+"&"+scrollPos+"&"+randomRoom, "_self");

                  }
                

                     
}
///////////////////////////////////////////////////////////////////////////////////////
// MENU BUTTON GET BACK TO INDEX2.HTML
function back()
{
       window.open("./../xxx-index", "_self");
}

startSetup();

function startSetup() {
        $('#menu').text('HIDE MENU')

        $("#header").show();
        $('#countInfo').hide();
        $('#buttons').hide();
        $('#title').hide();
        $('#tag1').hide();
        readVids("file"); // startup loader with saved txt file
}
///////////////////////////////////////////////////////////////////////////////////////
// HIDE/SHOW INFO PAGE 
function menu(){
            
            if($("#menu").text()==="HIDE MENU") 
            {
              $("#menu").text("SHOW MENU");
              $('#countInfo').show();
              $('#title').show();
              $("#header").hide();
            }
              else
            { 
              $("#menu").text("HIDE MENU");
              $('#countInfo').hide();
              $('#title').hide();
              $("#header").show();
              $('#tag1').hide();
            }              
               $("#topics").empty();
               clear();
      
}
// RESETS THE SEARCH VIEW /////////////////////////////////////////////
function clear(){
             
              $('#infoBut').hide();          // hide info txt
              $('.sub').hide();              // hide submit
              $('.buinfo').hide();           // hide order buttons 
              $('.filter').hide();           // hide filter txt
              $('.mainbu').show();           // show buttons
              $('#buttons').hide();           // show user sub menu
              //    $('').show();           // show buttons

}// clear() end

function setPage(page){

$('#tag1').hide();
$('#tag').hide();
$('#submit').hide();
$('#submit1').hide();
$('#submit2').hide();

                     
if(page==="input")
      {
            $('#infoBut').show();
            $('#tag1').show();
            $('#submit1').show();
           // $('#stepback').show();
            $('.mainbu').hide();
            $("#sugestBut").hide();
            $('#group').hide();

            $("#infoBut").   css({ "font-size": "27px"});
            $('#infoBut').val("video dont start in 5s means that you have submit a invalid link"); 
            $('#tag1').attr("placeholder", "use 'Ctlr v' to past Xvideo/XnXX video link here");
            $('#tag1').val("");
            $('#submit1').val("Submit Video Url");

            $("#infoBut").  css({ top: 250 });
            $("#tag1").      css({ top: 360, left: 310});
            $("#submit1").   css({ top: 435, left: 510});


              step=1;
}         
                                                     

}
///////////////////////////////////////////////////////////////////////////////////////
// OPEN SUBMIT FIELD /////////////////////////////////////////////
function openSub(type){ 
               
               $('.sub').show();
               $('#tag1').hide();

               if(type==="input")   {
                                     callMode="input";
                                     setPage("input");
                                   }    

               if(type==="user")   {callMode="user";
                                    $('.mainbu').show();    // hide main buttons
                                    $('.groupbu').hide();   // hide group buttons
                                    $('.userbu').show();    // show user sub menu
                                    $('.sub').hide();              // hide submit
                                    $('#tag1').hide();
                                   }
                                    
               if(type==="group")  {callMode="group";
                                    $('.mainbu').hide();    // hide main buttons
                                    $('.groupbu').show();   // show group buttons
                                    $('.userbu').hide();    // hide user sub menu
                                    $('.sub').hide();              // hide submit
                                   }
            
               if(type==="tag")    {callMode="tag";
                                    $('#tag1').hide();
                                    $('.mainbu').hide();    // hide main buttons
                                    $('#submit1').hide();
                                    $('#infoBut').val('submit your tag words separated by space');  
                                    $('#infoBut').show();
                                    $('#tag').attr("placeholder", " insert tag words");
                                    $('#tag').val("");
              
                                    $("#infoBut").  css({ top: 270 });
                                    $("#tag").      css({ top: 410, left: 230});
                                    $("#submit").   css({ top: 400, left: 580});
                                    $("#sugestBut").css({ top: 400, left: 745});
                                    $('#own').hide();    // hide main buttons
                                    $('#fav').hide();    // hide main buttons
                                    $('#group').hide();    // hide main buttons
                                    $("#sugestBut").val('Suggested Tags');
                                   }
              
              
         if(type==="userPhotos")   {callMode="userPhotos";
                                    $('.mainbu').hide();    // hide main buttons
                                    $('.groupbu').hide();   // hide group buttons
                                    $('.userbu').hide();    // hide user sub menu
                                    $('.sub').show();       // show submit
                                    $('#infoBut').val('select order and submit a Username or User Id');   // show info button
                                    $('.buinfo').show();    // show info
                                   }                    
             
     if(type==="favoritePhotos")   {callMode="favoritePhotos";
                                    $('.mainbu').hide();    // hide main buttons
                                    $('.groupbu').hide();   // hide group buttons
                                    $('.userbu').hide();    // hide user sub menu
                                    $('.sub').show();       // show submit
                                    $('#infoBut').val('select order and submit a Username or User Id');   // show info button
                                    $('.buinfo').show();    // show info
                                   }              
      
         if(type==="userSugest")   {callMode="userPhotos";
                                    $('.mainbu').hide();    // hide main buttons
                                    $('.groupbu').hide();   // hide group buttons
                                    $('.userbu').hide();    // hide user sub menu
                                    $('.sub').show();       // hide submit
                                    addSearchBtns();
                                   }                                         
           
           
        if(type==="groupPhotos")   {callMode="groupPhotos";
                                    $('.mainbu').hide();    // hide main buttons
                                    $('.groupbu').hide();   // hide group buttons
                                    $('.userbu').hide();    // hide user sub menu
                                    $('.sub').show();       // show submit
                                    $('#infoBut').val('select order and submit a Groupname or Group Id');   // show info button
                                    $('.buinfo').show();    // show info
                                   }                    
   
}// opensub() end
// EXECUTE THE SUBMIT DATA /////////////////////////////////////////
function submit(){
                    
                     if(callMode==="tag")
                     {
                        $('.filter').show();
                        $('.sub').hide();
                        $('#own').hide();
                        $('#fav').hide();
                        $('#group').hide();
                        $('#infoBut').val('select filter options for tags: '+ $('#tag').val());  
                        $("#infoBut").  css({ top: 230 });
                        $('#infoBut').show();
                        $('#group').show();
                        
                     }
                    
 }                    
function submit2(){
    var query = $("#tag").val();
    var order = $("#orderBut").val();
    
    // Show loader while waiting for the scraper
    $("#loader").show();
    $("#header").hide();
    $("#menu").text("SHOW MENU");

    // Send the request to your Node.js backend
    fetch('/api/scrape-xvideos', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ tag: query, sort: order })
    })
    .then(response => response.json())
    .then(data => {
        $("#loader").hide();
        // Call your proc function to render the thumbnails
        proc(data, "tag"); 
        $("#countInfo").val(data.length + " videos found").show();
    })
    .catch(err => {
        $("#loader").hide();
        alert("Error fetching videos");
    });
}
//////////////////////////////////////////////////////////////////////////////
// ADD TOPICS BUTTONS  ///////////////////////////////////////////////////////

function help(){
              
                  catego=[];            // limpa array de categorias
                 $('.mainbu').hide();    // hide main buttons
                  $('.filter').hide();  // esconde filter txt
                  $('.buinfo').hide();  // esconde filter buttons
                  $('#buttons').show();  // mostra os botoes dos topicos
                  $('.sub').hide();  // esconde filter buttons
                  $('#sugestBut').hide();  // esconde filter buttons
                
                   readCat();            // le categorias do ficheiro txt e adiciona os botoes
                
            
    
}

var catego=[];

function readCat(){
 fetch('./catego.txt')
        .then(response => response.text())
        .then(data => {
                        //   console.log(JSON.parse(data));
                        addSearchBtns(JSON.parse(data));
                       });
}


function addSearchBtns(topic) {

  $("#buttons").html("");
  for (i = 0; i < topic.length; i++) {
       var but = "butx"+i;
    var $button = $("<input type='button' class='btn2 bt' />");
    $button.val(topic[i]);
    $("#buttons").append($button);
    $button.attr('id',but); 
    $("#buttons").append($button);
}
    $button.attr('id',"catBack"); 
    $button.val("BACK");
    $("#buttons").append($button);
    $("#buttons").show();
}
////////////////////////
 $(document).on("click", ".bt", function() {

      if ($(this).hasClass("bt")) {
       var query = $(this).val();
       
       $("#tag").val(query);
       $("#buttons").hide();
        $("#topics").hide();

        if(query==="BACK" ) {openSub('user');}  
        else   submit();

       
      }
});







////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// FUNCTION TO CALL TVYTUBE SENDING VIDEOID, BACKPIC E SCROLL POSITION 
function sendVideo(vidId){

  var randomRoom = Math.floor(Math.random() * 10000);
   console.log("random room"+randomRoom);

var scrollPos = ($("#conteiner").scrollTop() );
var roomName="teste";
window.open("./tvxvid?"+vidId+"&"+pic+"&"+scrollPos+"&"+randomRoom, "_self");


console.log(vidId)
 
}
/////////////////////////////////////////////////////////////////////////////////
// FUNCTION TO GET THE ATRIBUTES PASSED ON THE URL
var queryString = decodeURIComponent(window.location.search); //parsing 
      queryString = queryString.substring(1); 
      var queries = queryString.split("&"); 
    
      var pic =(queries[0]); // GET THE VIDEO ID FROM THE URL
      var from =(queries[1]); // GET THE VIDEO ID FROM THE URL
      var scroll =(queries[2]); // GET THE VIDEO ID FROM THE URL

      var ur="url("+pic+")";
      console.log(ur)
      document.body.style.backgroundImage = "url("+pic+")";
      
     
console.log("PIC: " + pic);
console.log("FROM: " + from);
console.log("SCROOL: " + scroll);

       if(scroll != 'user' && scroll !='list') updateFlag=0;
       if(scroll === 'mix') {updateFlag=0;get_Svideos('concerts');}
      
       if(scroll==='user') {updateFlag=0;get_Svideos(from);}
       if(scroll==='list') {updateFlag=0;get_Slists(from);}

//// FIM DA FUNÇAO PROC  ////////////////////////////////////////////////////////////////////////////////////////////////////////
var proc= function(videos, mode) {
                                  
                                  $("#output").empty();
                             
                    
                $.each(videos, function(i, item){
    
   
                    var thumb = item.thumbnail;
                    thumb=thumb.replace("thumbs169ll", "thumbs169lll");
                    var title = item.title;
                    var vid = item.url;
                    var desc = "";
                  
   
    
    
    // add thumbs div
    count ++;
    var div = document.createElement("div");
    div.id='id'+count;
    div.style.position='relative';
    div.style.float = "left";
    div.style.display='inline';
    div.className="thumbs";
    
    document.getElementById("output").appendChild(div);
    //////
    //add title div
    title=title.substring(0,80)
    var div2 = document.createElement("div");
    div2.innerHTML=title
    
    div2.style.position='absolute';
    div2.className="Vtitle";
    div2.style.textAlign= 'center';
    div2.name=vid;
    div2.style.background= '#1b171ca3';
    div2.style.color= 'white';
    div2.style.cursor = "pointer";
    //div2.style.zIndex = "1000";
    
    // add function sendVideo to title div
    div2.addEventListener("click", function(e) {
                                 sendVideo (e.target.name);
                    })
    
    document.getElementById('id'+count).appendChild(div2);
    ///////
    // add main image img
    var img = document.createElement("img");
    
    if(m1==0 && m2==0 && m3==0) x = Math.floor((Math.random() * 3) + 1);
    x=2;
    if(x===3) {m3=2; m2=0; m1=0}
    if(x===2) {m2=3; m1=0; m3=0}
    if(x===1) {m1=4; m2=0; m3=0}
    
    if( m3>0 && m2==0 && m1==0) { m3--;img.style.width = "580px";x=0;
                                  div2.style.top= '293px';
                                  div2.style.left= '10px';
                                  div2.style.width= '575px';
                                  div2.style.height= '40px';
                                  div2.style.fontSize='17px';
    }
    if( m2>0 && m3==0 && m1==0) { m2--;img.style.width = "360px";x=0;
                                  div2.style.top= '205px';
                                  div2.style.left= '10px';
                                  div2.style.width= '360px';
                                  div2.style.height= '33px';
                                  div2.style.fontSize='15px';
    }
    if( m1>0 && m2==0 && m3==0) { m1--;img.style.width = "285px";x=0;
                                  div2.style.top= '137px';
                                  div2.style.left= '10px';
                                  div2.style.width= '280px';
                                  div2.style.height= '30px';
                                  div2.style.fontSize='14px';
    }
    
                img.style.height = "230px";
                img.style.margin = "6px 8px";
                img.style.cursor = "pointer";
                img.src = thumb ;
                img.style.border = "2px solid white";
                img.alt=vid;
                img.className="image";
               // add function sendVideo to title div  
                img.addEventListener("click", function(e) {
                                 sendVideo (e.target.alt);
                    })
                     
               document.getElementById('id'+count).appendChild(img); 
              
    
                });
    
           $('.image').show();
           $('.Vtitle').show();
    
         
    // if call comes from main set scrool to zero e comes from player set scroll to saved scroll
    console.log("FROM " + from)
    
           if(from==="main") {         
          //  $("#header").show();
               $("#topics").empty();
            
                         $('#conteiner').scrollTop(0)
           }
           if(from==="player") {  
            console.log("SCROLL " + scroll) 
           // $('#menu').text("SHOW MENU");
            $("#header").hide();
            $("#topics").empty();
            menu();
          
                         $('#conteiner').scrollTop(scroll)
           }
        
     
          };
    
    // hover functions, scale and change border color on mouse hover
    $(document).on("mouseenter", ".thumbs", function() {
        $(this).css('margin','0px'); 
        $(this).css('transform', 'scale(' + 1.06 + ')');
        
        var id=($(this).attr('id'));
        $(this).children('img').css({ "border": "2px solid greenyellow"});
    
    
        img = document.createElement("img");
        img.style.position='absolute';
        img.className="playButton";
        img.style.textAlign= 'center';
        img.style.top='100px';
        img.style.left='165px';
        img.style.zIndex='1000';
        img.alt=$(this).children('img').attr('alt');
        img.style.cursor = "pointer";
        img.src = './../../../images/playButton.png' ;
    
        img.addEventListener("click", function(e) {
                                 sendVideo (e.target.alt);
                    })
    
    
        document.getElementById(id).append(img); 
       
    });
    // reset values on mouse leave
    $(document).on("mouseleave", ".thumbs", function() {
        
       $(this).children('img').css({ "border": "2px solid white"});
        $(this).css('transform', 'scale(' + 1 + ')');
        $('.playButton').remove();
    });
    ///////////////////////////////////////////////////////////////
    var count=0;
    var x=0;
    var m1=0;
    var m2=0;
    var m3=0;

//// INICIO DA FUNÇAO SEARCH_USER  ////////////////////////////////////////////////////////////////////////////////////////////// 

var picIndex=0; 
   
var page=0; 


var search_tag= function(){
                             var tag=$('#tag').val();
                             console.log("tag search: " + tag);
                              var page=$('#page').val();
                             console.log("tag page: " + page);
                             clear();
                        
                          
                             tagSearch(tag, page);
}

var tagSearch= function(tag, page){

  

/*
   ?k=nature         tags
   &sort=relevance   views  length  rating  uploaddate
   &quality=hd       hd or blank
   &durf=20min_more  10-20min  3-10min  1-3min  allduration
   &datef=6month     3month  month  week  today  all
 */
              var quality=$('#hdBut').val(); 
              if( quality==="HD720 ++") quality="hd";
              var sort = $('#orderBut').val();
              var durf = $('#durationBut').val();;
              var datef= $('#dateBut').val();
              
              
          var searchUrl="/?k="+tag+"&sort="+sort+"&quality="+quality+"&durf="+durf+"&datef="+datef;
          
          from="main" // to reset scrool on search
          
          $('#menu').hide(); // hide menu button
          $('#conteiner').hide(); // hide menu
          $('#loader').show(); // show loader
          var title='search results for tags: ' + tag + ' in ' + sort +' order ';
                $('#title').val(title)
                $('#title').show();
             
               


              search(searchUrl,title);
                
                function search(searchUrl,title){
                
                functABC(searchUrl).then(function(data) {
                // Run this when your request was successful
                
                readVids("load");
                $('#conteiner').show(); 
                $('#loader').hide();
                $('#menu').text("SHOW MENU");
                $('#menu').show();
                $('#countInfo').val( videos.length + " videos found"); // hide menu button
                  $('#countInfo').show()
                
                  saveTitle(title, videos.length); 
              //  play(videoLink, title, slideThumb);
                
                }).catch(function(err) {
                // Run this when promise was rejected via reject()
                 console.log(err)
                })
                
                }
                ////////////
                function functABC(searchUrl) {
                
                return new Promise(function(resolve, reject) {
                
                $.ajax({
                url: '/search',
                type: 'POST',
                data: {
                  'searchUrl':searchUrl
                },
                success: function(data) {
                resolve(data) // Resolve promise and go to then()
                },
                error: function(err) {
                reject(err) // Reject the promise and go to catch()
                }
                });
                });
                }
                          
}

function saveTitle(data, numVideos){
                          $.ajax({
                          type: 'POST',
                          url: '/saveXvidTitle',
                          data: {
                                    data:data,
                                    num:numVideos
                                },
                          });
}


//////// START START START ////////////////////////


var videos   
function readVids(mode) {
                                 
                    if(mode==="file") readTitle(); // if read from file read title too

                              fetch('./xxx.txt')
                              .then(response => response.text())
                              .then(data => {
                                             videos = JSON.parse(data);
                                             proc(videos); // videos process
                                            });
}
function readTitle() {
                              fetch('./title.txt')
                              .then(response => response.text())
                              .then(data => {
                                             $('#title').val(data) // set title data
                                         //    $('#title').show() // show title
                                            });

                              fetch('./numVideos.txt')
                              .then(response => response.text())
                              .then(data => {
                                             $('#countInfo').val(data+" videos found") // set title data
                                         //    $('#title').show() // show title
                                            });              


}

                   


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
var off1=true;
function myFunction1() {
   if (off1)
   { 
         del();
  var x = document.createElement("SELECT");
  x.setAttribute("id", "favList1");
  document.body.appendChild(x);
   x.setAttribute("onchange", "insert1()");
  document.body.appendChild(x);
  

   z = document.createElement("option");
  z.setAttribute("value", "");
  var t = document.createTextNode("select order");
  z.appendChild(t);
  document.getElementById("favList1").appendChild(z);

  var z = document.createElement("option");
  z.setAttribute("value", "relevance");
  var t = document.createTextNode("relevance");
  z.appendChild(t);
  document.getElementById("favList1").appendChild(z);
 
  var z = document.createElement("option");
  z.setAttribute("value", "views");
  var t = document.createTextNode("views");
  z.appendChild(t);
  document.getElementById("favList1").appendChild(z);
  
  var z = document.createElement("option");
  z.setAttribute("value", "rating");
  var t = document.createTextNode("rating");
  z.appendChild(t);
  document.getElementById("favList1").appendChild(z);
  
  var z = document.createElement("option");
  z.setAttribute("value", "length");
  var t = document.createTextNode("length");
  z.appendChild(t);
  document.getElementById("favList1").appendChild(z);
  
  var z = document.createElement("option");
  z.setAttribute("value", "uploaddate");
  var t = document.createTextNode("uploaddate");
  z.appendChild(t);
  document.getElementById("favList1").appendChild(z);

  off1=false;
   }
   else
   {
       var myobj = document.getElementById("favList1");
       myobj.remove();
       off1=true;
   }
}

function insert1()
{
 var x = document.getElementById("favList1").value;
  document.getElementById("orderBut").value =  x;
 
  var myobj = document.getElementById("favList1");
  myobj.remove();
  off1=true;
  
}
////////////////////////////////////////////////////////////////////////////
var off2=true;
function myFunction2() {
   if (off2)
   { 
         del();
  var x = document.createElement("SELECT");
  x.setAttribute("id", "favList2");
  document.body.appendChild(x);
   x.setAttribute("onchange", "insert2()");
  document.body.appendChild(x);
  
   z = document.createElement("option");
  z.setAttribute("value", "");
  var t = document.createTextNode("select date");
  z.appendChild(t);
  document.getElementById("favList2").appendChild(z);
  
    var z = document.createElement("option");
  z.setAttribute("value", "all");
  var t = document.createTextNode("all");
  z.appendChild(t);
  document.getElementById("favList2").appendChild(z);
  
   var z = document.createElement("option");
  z.setAttribute("value", "today");
  var t = document.createTextNode("today");
  z.appendChild(t);
  document.getElementById("favList2").appendChild(z);

  var z = document.createElement("option");
  z.setAttribute("value", "week");
  var t = document.createTextNode("week");
  z.appendChild(t);
  document.getElementById("favList2").appendChild(z);
 
  var z = document.createElement("option");
  z.setAttribute("value", "month");
  var t = document.createTextNode("month");
  z.appendChild(t);
  document.getElementById("favList2").appendChild(z);
  
  var z = document.createElement("option");
  z.setAttribute("value", "3month ");
  var t = document.createTextNode("3month");
  z.appendChild(t);
  document.getElementById("favList2").appendChild(z);
  
  var z = document.createElement("option");
  z.setAttribute("value", "6month");
  var t = document.createTextNode("6month");
  z.appendChild(t);
  document.getElementById("favList2").appendChild(z);
  
  off2=false;
   }
   else
   {
       var myobj = document.getElementById("favList2");
       myobj.remove();
       off2=true;
   }
}

function insert2()
{
 var x = document.getElementById("favList2").value;
  document.getElementById("dateBut").value =  x;
   
  var myobj = document.getElementById("favList2");
  myobj.remove();
  off2=true;
  
}
////////////////////////////////////////////////////////////////////////////
var off3=true;
function myFunction3() {
   if (off3)
   { 
         del();
  var x = document.createElement("SELECT");
  x.setAttribute("id", "favList3");
  document.body.appendChild(x);
   x.setAttribute("onchange", "insert3()");
  document.body.appendChild(x);
  
   z = document.createElement("option");
  z.setAttribute("value", "");
  var t = document.createTextNode("select duration");
  z.appendChild(t);
  document.getElementById("favList3").appendChild(z);
  
   var z = document.createElement("option");
  z.setAttribute("value", "all");
  var t = document.createTextNode("all");
  z.appendChild(t);
  document.getElementById("favList3").appendChild(z);

  var z = document.createElement("option");
  z.setAttribute("value", "1-3min");
  var t = document.createTextNode("1-3min");
  z.appendChild(t);
  document.getElementById("favList3").appendChild(z);
 
  var z = document.createElement("option");
  z.setAttribute("value", "3-10min");
  var t = document.createTextNode("3-10min");
  z.appendChild(t);
  document.getElementById("favList3").appendChild(z);
  
  var z = document.createElement("option");
  z.setAttribute("value", "10-20min");
  var t = document.createTextNode("10-20min");
  z.appendChild(t);
  document.getElementById("favList3").appendChild(z);
  
  var z = document.createElement("option");
  z.setAttribute("value", "20min_more");
  var t = document.createTextNode("20min_more");
  z.appendChild(t);
  document.getElementById("favList3").appendChild(z);
  
  off3=false;
   }
   else
   {
       var myobj = document.getElementById("favList3");
       myobj.remove();
       off3=true;
   }
}

function insert3()
{
 var x = document.getElementById("favList3").value;
  document.getElementById("durationBut").value =  x;
   
  var myobj = document.getElementById("favList3");
  myobj.remove();
  off3=true;
  
}

////////////////////////////////////////////////////////////////////////////
var off4=true;
function myFunction4() {
   if (off4)
   { 
         del();
  var x = document.createElement("SELECT");
  x.setAttribute("id", "favList4");
  document.body.appendChild(x);
   x.setAttribute("onchange", "insert4()");
  document.body.appendChild(x);
  
 z = document.createElement("option");
  z.setAttribute("value", "");
  var t = document.createTextNode("select quality");
  z.appendChild(t);
  document.getElementById("favList4").appendChild(z);
  
   z = document.createElement("option");
  z.setAttribute("value", "all");
  var t = document.createTextNode("all");
  z.appendChild(t);
  document.getElementById("favList4").appendChild(z);
  
   var z = document.createElement("option");
  z.setAttribute("value", "HD720 ++");
  var t = document.createTextNode("HD720 ++");
  z.appendChild(t);
  document.getElementById("favList4").appendChild(z);


  
  off4=false;
   }
   else
   {
       var myobj = document.getElementById("favList4");
       myobj.remove();
       off4=true;
   }
}

function insert4()
{
 var x = document.getElementById("favList4").value;
  document.getElementById("hdBut").value =  x;
   
  var myobj = document.getElementById("favList4");
  myobj.remove();
  off4=true;
  
}

////////////////////////////////////////////////////////////////////////////
function del()
{
     var myobj = document.getElementById("favList1");
   if(myobj) {off1=true;myobj.remove();}
   
      myobj = document.getElementById("favList2");
   if(myobj) {off2=true;myobj.remove();}
   
    myobj = document.getElementById("favList3");
   if(myobj) {off3=true;myobj.remove();}
   
    myobj = document.getElementById("favList4");
   if(myobj) {off4=true;myobj.remove();}


   
}             
             


</script>

</body>
</html>